<!DOCTYPE html>
<html>
<style>label{font-family: sans-serif;}</style>
<body>
<h2>Add new employee</h2>

<form action="/register" method="POST">
    <label for="name">Username:</label><br>
    <input type="text" id="usernamefield" name="username" placeholder="Enter username" required><br>
    
    <label for="email">Email:</label><br>
    <input type="text" id="emailfield" name="email" placeholder="Enter Email" required><br>

    <label for="password">Password:</label><br>
    <input type="password" id="passwordfield" name="password" placeholder="Enter password" required><br>

    <label for="age">Age:</label><br>
    <input type="text" id="agefield" name="age" placeholder="Enter age" required><br>

    <label for="phonenumber">Phone number:</label><br>
    <input type="text" id="pnumberfield" name="phonenumber" placeholder="Enter Phone number" required><br>

    <select name="privilege" id="privilege">Privilege
        <option value="Employee">Employee</option>
        <option value="HR">HR</option>
    </select>
    <input type="submit" value="Submit">
</form> 

</body>
</html>

