<!DOCTYPE html>
<html>
<body>

<h2>Add new employee</h2>

<form action="/add_emp" method="POST">
    <label for="name">username:</label><br>
    <input type="text" id="usernamefield" name="username" placeholder="Enter username"><br>
    
    <label for="email">Email:</label><br>
    <input type="text" id="emailfield" name="email" placeholder="Enter Email"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="passwordfield" name="password" placeholder="Enter password"><br>

    <label for="age">Age:</label><br>
    <input type="text" id="agefield" name="age" placeholder="Enter age"><br>

    <label for="phonenumber">Phone number:</label><br>
    <input type="text" id="pnumberfield" name="phonenumber" placeholder="Enter Phone number"><br>

    <select name="privilege" id="privilege">Privilege
        <option value="Employee">Employee</option>
        <option value="HR">HR</option>
    </select>
    <input type="submit" value="Submit">
</form> 

</body>
</html>

