<!DOCTYPE html>
<html>
    <title>HR Dashboard</title>
<body>

<h2>HR Dashboard</h2>
<ul>
    <form action="/GenerateReports" method="post"><li><button type="submit">Generate Reports</button></li></form>
    <li><a href="generateReports.html">Add Employee</a></li>
    <li><a href="generateReports.html">Remove Employee</a></li>
    <li><a href="generateReports.html">Search Employee</a></li>
</ul>
<form action="/logout" method="POST">
    <input type="submit" value="Log Out">
</form> 
</body>
</html>

