<!DOCTYPE html>
<html>
    <title>HR Dashboard</title>
    <body>
        <h2>HR Dashboard</h2>
        <ul>
            <form action="/generate" method="get"><li><button type="submit">Generate Reports</button></li></form>
            <form action="/rem_employee" method="post"><li>
                <input type="text" placeholder="Employee Email" name="usremail" required>
                <button type="submit">Remove Employee</button></li>
            </form>
            <form action="/search_emp" method="post"><li>
                <input type="text" placeholder="Employee Email" name="usremail" required>
                <button type="submit">Search for Employee by Email</button></li></form>
            </ul>
            <form action="/logout" method="post">
                <input type="submit" value="Log Out">
            </form>
        </body>
</html>

